{% extends "layout.html.twig" %}

{% block content %}
=======


<form>
    <div class="mb-3">
      <label type="nom" class="form-label">Nom</label>
      <input type="nom" class="form-control" id="exampleInputnom1" aria-describedby="nomHelp">
      <div id="NomHelp" class="form-text">We'll never share your email with anyone else.</div>
              <div id="Nm"></div> 
    </div>
    <div class="mb-3">
        
      <label type="prenom" class="form-label">Prenom</label>
      <input type="prenom" class="form-control" id="exampleInputPrenom1">
      <div id="prnm"></div>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">rester connectée</label>
    </div>
   
    
    <button id="iscp" class="btn btn-primary">Inscription</button>
  </form>
{% endblock %}